html, body { 
    /* background-color: red; */
    height: 100%;
    margin: 0;
}

/* 设置整个网页的背景图片 */
body {
    background-image: url('../img/background2.png'); 
    background-size: cover; 
}

.wiki-bg {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    /* 设置背景颜色透明度 */
    opacity: 0.9; 
    background-color: #E3EAF4; 
}

.wiki-header { 
    width: 1160px;
    
    padding: 20px 0;
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
	
    align-items: center;
}

.wiki-header-title a {
    font-size: 32px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

.wiki-nav {
    display: flex;
    justify-content: flex-start; /* 改为左对齐 */
    align-items: center;
    width: 1160px;
    margin: 1rem auto;
    padding: 0 20px; 
    border-radius: 8px;
}

.wiki-nav a {
    width: 124px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.wiki-nav a:hover {
    background-color: black;
    color: white;
}